@charset "UTF-8";
/* リセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  	margin: 0;
	padding: 0;
	font-family: “N”oto Sans JP,”游ゴシック Medium", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	line-height: 1.6;
    font-size: 16px;
  font-family: sans-serif;
}

/* ヘッダー全体 */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明背景 */
  color: white;
  display: flex;
  align-items: center;
  z-index: 1000;
}

/* ヘッダー内の配置 */
.header-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

/* サイトタイトル */
.site-title {
  font-size: 20px;
  margin-left: 15px;
}

/* ハンバーガーメニュー */
.menu-icon {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu-icon span {
  height: 3px;
  background-color: white;
  border-radius: 2px;
}

/* ヒーローセクション（背景画像） */
.hero {
  height: 100vh;
  background-image: url('https://as2.ftcdn.net/v2/jpg/05/85/94/75/1000_F_585947577_bzC0PesLqbJRpmCCnqnTngwX78o0ZStt.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

/* タイトル */
.hero-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 10;
}

/* キャッチコピー */
.hero-text {
  font-size: 1rem;
  margin-bottom: 10px; /* 間隔調整ここで */
}

/* 店名 */
.hero-name {
  font-size: 2rem;
}

/* コンテンツ */
.content {
  padding: 80px 20px;
  max-width: 800px;
  margin: 0 auto;
}
/* コンテンツ 中央 */
.content-center {
  text-align: center;
}

/* 無料体験ボタン */
.fjoin-button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #f48fb1; /* ピンク系カラー */
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  text-align: center;
}

.fjoin-button:hover {
  background-color: #ec407a; /* 少し濃いピンクでホバー */
}

/* 丸背景 */
.circle-label {
  width: 120px;
  height: 120px;
  background-color: #f48fb1; /* ピンク系 */
  color: white;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.2;
  font-size: 0.9rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: absolute; /* 必要に応じて位置調整 */
  top: 20%;
  left: 10%;
  z-index: 10;
}
